<!DOCTYPE html>
<html >
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            
        </header>
        <main>
            <h1>Rénitialisation du mot de passe</h1>
            
            <div>
                <form action="/api/v01/customer/changePassword/<%=key_id%>" method="POST">
                    <% if(error !== null) { %>
                        <p className="status-message"><%= error %></p>
                    <% } %>

                    <label for="password1">Mot de passe</label>
                    <input type="text" name="password1" id="password1" placeholder="Mot de passe" />

                    <label for="password2">Confirmez votre mot de passe</label>
                    <input type="text" name="password2" id="password2" placeholder="Confirmez votre mot de passe" />
                    <input type="submit" value="envoyer" />
                </form>
            </div>
        </main>
    </body>
</html>
