<!DOCTYPE html>
<html >
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            
        </header>
        <main>
            <h1>Pour valider votre compte, appuyez sur le bouton</h1>
            <div>
                <form action="/api/V01/customer/validation/<%=key_id%>" method="POST">
                    <% if(error !== null) { %>
                        <p className="status-message"><%= error %></p>
                    <% } %>
                    <input type="submit" value="Valider votre compte" />
                </form>
            </div>
        </main>
    </body>
</html>