/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    margin : 0;
    padding : 0;
    background-color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

header {
    position: absolute;
    top : 0;
    left : 0;
    background-color: #c5140f;
    display : flex;
    flex-direction: row;
    width : 100%;
    height : 5em;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color : #c5140f;
    margin-top : 1em;
}

main {
    margin-top : 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
}

@media only screen and (max-width: 40em) {
main form {
    width : 100%;
    border-bottom: none;
    background-color: #f0f0f0;
}

main {
    height : 100%
}
}

@media only screen and (min-width : 40em) {
main form {
    width : 50%;
    border : 1px solid #c5140f;
    background-color: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
}
}

@media only screen and (min-width : 64em) {
main form {
    width : 30em;
    border : 1px solid #c5140f;
    background-color: #f5f5f5;
    box-shadow: 0.2em 0.2em 0.2em #c2c2c275;
}
}

main form {
    margin-top: 3em;
    border-radius: 0.3em;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 1em 0 1em;
  
}
  
main form input {
    width : 70%;
    height: 2em;
    background-color: #ffffff;
    border : 1px solid #c5140f;
    border-radius: 0.3em;
    margin-bottom: 1em;
    padding-left: 1em;
}

main form p {
    margin-bottom: 1em;
    color : #c5140f;
    font-weight: bold;
}
  
main form input::placeholder {
    font-weight: bold;
}

main form button {
    width : 60%;
    height: 2em;
    border : none;
    border-radius: 0.3em;
    background-color: #c5140f;
    margin-top: 1em;
}